header {
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  width: 100%;
  background-color: var(--body-color);
  /* fixar menu no top do site */
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.logo {
  font: 700 1.31rem "Poppins", sans-serif;
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
}

nav ul li {
  text-align: center;
  font: 700 1.875rem "Poppins", sans-serif;
}

nav ul li a {
  transition: color 0.3s;
  position: relative;
}

nav ul li a:hover {
  color: var(--base-color);
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--base-color);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}



nav .icon-x {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  right: 1.5rem;
}

nav.show .icon-x {
  visibility: visible;
  opacity: 1;
}

main {
  margin-top: calc(var(--header-height) + 2rem);
}

/* toggle menu */

.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}
